
.icon-sun:before { content: '\e800'; } /* '' */
.icon-mail:before { content: '\e801'; } /* '' */
.icon-mail-1:before { content: '\e802'; } /* '' */
.icon-calendar:before { content: '\e803'; } /* '' */
.icon-picture:before { content: '\e804'; } /* '' */
.icon-suitcase:before { content: '\e805'; } /* '' */
.icon-globe-alt:before { content: '\e806'; } /* '' */
.icon-globe:before { content: '\e807'; } /* '' */
.icon-location:before { content: '\e808'; } /* '' */
.icon-phone:before { content: '\e809'; } /* '' */
.icon-paper-plane:before { content: '\e80a'; } /* '' */
.icon-chat-empty:before { content: '\f0e6'; } /* '' */
.icon-hospital:before { content: '\f0f8'; } /* '' */
.icon-building-filled:before { content: '\f1ad'; } /* '' */
.icon-paper-plane-empty:before { content: '\f1d9'; } /* '' */
.icon-map-o:before { content: '\f278'; } /* '' */
.icon-facebook-squared:before { content: '\f308'; } /* '' */
.icon-instagram:before { content: '\f32d'; } /* '' */
.icon-search:before { content: '\f50d'; } /* '' */