div {
  margin-top: 0;
  margin-bottom: 0;
  width: 100%;
}

header {
  height: 200px;
  background-color: black
}

li {
  display: inline;
}

h1 {
  margin-top: 0;
  margin-bottom: 0;
}

h1.logo {
  font-family: Anton;
  font-size: 26;
  border: 1px solid;
  border-color: white;
  color: white
}

h4 {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
}

a {
  color: white
}

a:link {
  text-decoration: none;
}

.container {
  width: 500px margin: auto;
}

.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: Ariel;
}

.header_h1_logo {
  padding-top: 30px;
  font-family: sans-serif;
  font-size: 24pt;
  font-weight: bold;
}

.header_font_h1_logo {
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  border: 1 1 1 1 solid white;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  border-left: 1px solid white;
  border-right: 1px solid white;
}

.header_div_table {
  align-items: center;
  margin-top: 30px;
  width: 100%
}

.header_div_table_nav {
  margin-left: auto;
  margin-right: auto;
  width: 80%
}

.header_table_div_row {}

.header_table_nav_data {
  width: 15%;
}

.header_table_nav_font {
  font-size: 3;
  color: white;
}

.img.logo{
display: block;
margin-left: auto;
margin-right: auto;
}

div.space {
  padding-top: 100px;
}

img.header {
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* margin-top: 10px; */
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  border-left: 1px solid white;
  border-right: 1px solid white;
}

.div_couple {
  width: auto;
  height: 1000px;
  background-image: linear-gradient(black, gray), url("../images/couple.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.div_couple_section_heading {
  margin-top: 225px;
  margin-bottom: 100px;
  text-align: center;
}

.div_couple_font_heading {
  font-family: Abraham Lincoln
  font-size: 400pt;
  margin-top: 100px;
  margin-bottom: 10px;
  color: orange;
  text-align: center;
}

.div_couple_section_body {
  text-align: center;
}

.div_couple_font_body {
  font: 25px arial;
  color: white;
}

.div_couple_section_body_span_line1 {
  text-align: center;
}

.div_couple_section_scroll {
  text-align: center;
}

.div_couple_font_scroll {
  color: white;
}

.div_base_one {
  background-color: #3366ff;
}

.div_base_2 {
  width: auto;
  height: 1260px;
  background-image: url("../images/WeAreUnity.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.div_base_2_div_welove {
  font-family: Adamina;
  color: black;
  text-align: center;
  font-size: 48;
  color: black;
  padding-top: 260px;
}

.div_base_2_div_pride {
  font-family: Lato:700;
  font-size: 8;
  padding-bottom: 130px;
}

.div_base_2_div_bullseye {
  width: auto;
  height: 240px;
  position: absolute;
  left: 725px;
  align-content: center;
}

.div_base_2_div_basket_of_pencils {
  position: relative;
  top: 575px;
  left: 365px;
}

.base.three {
  background-color: white;
}

.div_winter {
  border: 2px solid black;
  height: 1260px;
  background-image: url("../images/winter.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.div_winter_section_text_global {
  padding-top: 30px;
}

.div_winter_div_ {
  width: auto;
  padding-left: 10%;
}

.div_winter_div_customers {
  position: relative;
  top: 200px;
  width: auto;
  height: 600px;
  background-color: white;
  color: black;
  text-align: center;
}

.a, .b, .c {
  float: left;
  width: 30%;
  margin-right: 2%;
}

.a {}

.b {
  background-color: #694fca;
  color: white;
}

.c {}

.div_winter_div_customers_image {
  padding-top: 25px;
  padding-bottom: 10px;
}

.div_winter_div_customers_stars {
  display: block;
  justify-content: center;
}

footer {
  background-color: black
}

.footer_ul {
  list-style-type: none;
  overflow: hidden;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px gray;
}

.footer_li_phone {
  float: left;
  padding-right: 20%;
}

.footer_li_logo {
  padding-right: 20%
}

.footer_li_email {}

div.footer_box{
  font-family: sans-serif;
  font-weight: small;
  width: 1920px;
  margin-left: auto;
  margin-right: auto;
}

div.footer_box_aboutus {
  float: left;
  display: block;
  font-family: sans-serif;
  font-size: 10pt;
  color: white;
}
div.footer_box_newsletter {

}

img.footer_box_aboutus {
  float:left;
}
p.footer_box_title{
  font-family: sans-serif;
  color = white;
}

span.footer_box {
  font-family: sans-serif;
  color: gray;
  font-size: 10pt;
}

p.footer_box {
  font-family: sans-serif;
  font-size: 10pt;
  padding-top: 0;
  color: gray;
  padding-left: 5px;
}
img.footer_box_fromblog {
  float: left;
  display: inline-block;
}

div.footer_box_fromblog_redesign {
  float: left;
  display: inline-block;
}

p.footer_box_fromblog{
  font-family: sans-serif;
  font-size: 10pt;
}
