body {
    font-family: Arial;
    background: url(../images/11.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

img.tgIcon {
   width: 12rem;
   height: 3rem; 
}

button.dt-edit {
    width: 3rem;
    height: auto;
}

button.dt-delete {
    width: 3rem;
    height: auto;
}

div.bookForm {
    background-color: beige;
    height: 7rem;
    width: 15rem;
}

.allDiv {
    display: none;
}

.home {
    display: flex;
    width: 100%;
}

div.libraryTable {
    background-color: white;
    width: 80%;
}

div.addModal {
    resize: both;
}

th.author {
    width: 25%;
}

th.title {
    width: 40%;
}

th.numPages {
    width: 5%;
}

th.pubDate {
    width: 15%;
}

th.remove {
    width: 10%;
}

input.inpNumPages {
    width: 3rem;
}