div div {
    background-color: #363636;
    color: gray;
    margin-bottom: 0%;
    margin-top: 0%;
}

.content-row {
    padding-left: 0%;
    padding-right: 0%;
}

.content-column {
    padding-left: 0%;
    padding-right: 0%;    
}

.content-sample {
    background-color: white;
}

.logo-header {
    background-color: white;
    margin: 0%;
}

.logo-image {

}

.row-info {
    font-family: "Helvetica";
    font-size: 1rem;
}

.header-info {
    padding-top: 2%;
    padding-left: 2.9%;
}

.header-phone {
    padding-top: 2%;
}

.header-navbar {
    background-color: #363636;
 }

.header-login {
    background-color: #363636;
    color: gray;
}

.navbar-nav > li {
    float: left;
    position: relative;
}

.navbar-dark .navbar-nav .active a::after {
    border-bottom: 5px solid white;
    bottom: -10px;
    content: " ";
    left: 0;
    position: absolute;
    right: 0;
}

nav div ul li {
    padding-right: 5rem;
}

.fa-search {
    margin-right: 0%;
}

footer {
    background-color: #363636;
    color: gray;
}

.footer-info {

}

footer div div .col-head {
    font-family: 'Helvetica';
    font-size: 1.5rem;
    color: #ababab;
    padding-bottom: 4%;
}

.footer-text {
    font-family: 'Helvetica';
    font-size: .75rem;
}

footer div div .footer-readmore {
    font-family: 'Helvetica';
    font-size: .75rem;
    color: #616161;
}

footer div div .footer-readmore span {
   padding-right: 1rem;
}

.contact-info {
    font-family: 'Helvetica';
    font-size: .75rem;
    display: flex;
    align-items: baseline;
    border-bottom: .025rem solid gray;
    
}

.head {
    color: #c0a878;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-copyright {
    font-family: 'Helvetica';
    font-size: .75rem;    
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    background-color: #616161;
}
.footer-copyright .designedby {
    
}

.bg-dark {
    background-color: #363636;
}

.navbar-dark {
    color: #8d8d8d;
}