body {
    /* background-color: #363636; */
    font-family: 'Helvetica';
}

h6 {
    font-size: .75rem;
}

section.header div.right-side {
    background-color: #383838;
}

section.header div.right-side div.row-info {
    font-size: 1rem;
    color: #8d8d8d;
}
.row-info {
    font-size: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    padding-top: 1%;
    padding-left: 2%;
}

.header-login {
    background-color: #383838;
    color: #8d8d8d;
}

section.header button {
    background-color: #363636;
    color: #8d8d8d;
    width: 75%;
    padding-right: 75%;
}

section.header div.social-media a {
    color: #8d8d8d;
}

.navbar-nav > li {
    float: left;
    position: relative;
}

.navbar-dark .navbar-nav .active a::after { /*FIXME: underlines entire column not just column name */
    border-bottom: 5px solid white;
    bottom: -10px;
    content: " ";
    left: 0;
    position: absolute;
    right: 0;
}

/* nav div ul li {
    padding-right: 5rem;
} */

.fa-search {
    margin-right: 0%;
}

footer {
    background-color: #363636;
    color: gray;
}

footer div div .col-head {
    font-family: 'Helvetica';
    font-size: 1.5rem;
    color: #ababab;
    padding-bottom: 4%;
}

.footer-text {
    font-family: 'Helvetica';
    font-size: .75rem;
}

footer div div .footer-readmore {
    font-family: 'Helvetica';
    font-size: .75rem;
    color: #616161;
}

footer div div .footer-readmore span {
   padding-right: 1rem;
}

footer div div div a {
    color: #8d8d8d;
}

footer div div div ul li {
    font-family: 'Helvetica';
    font-size: .75rem;

}

footer div div div ul li hr {
    size: .01rem;
    width: 100%;
    border: .025rem solid #616161;

}

footer div div div ul li div {
    color: #c0a878;
}
/*FIXME: underline of each list element runs entire length of column */
/* .contact-info {
    font-family: 'Helvetica';
    font-size: .75rem;
    display: flex;
    align-items: baseline;

} */

/* .head {
    color: #c0a878;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
 */
/* FIXME: "Designed By Faith34" needs to be further right */
.footer-copyright {
    font-family: 'Helvetica';
    font-size: .75rem;    
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    background-color: #3f3f3f;
    color: #8d8d8d;
}

section.top {
    background-color: #383838;
}

section.top div.breadcrumbs {
    background-color: #383838;
 }

section.top div.breadcrumbs p {
    font-family: 'Helvetica';
    font-size: 1rem;
    color: #c0a878;
}

section.top div.breadcrumbs nav ol {
    background-color: #383838;
    font-size: .65rem;
}
section.top div.breadcrumbs nav ol li a {
    color: #8d8d8d;
}

section.top div.text {
    background-color: #363636;
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
    font-family: 'Times New Roman';
}

section.top div.text p:nth-of-type(1) {
    font-size: 3rem;
    color: #c0a878;
}

section.top div.text p:nth-of-type(2) {
    font-size: 1rem;
    color: #c7c7c7;
}

section.top div.text p:nth-of-type(3) {
    font-size: .75rem;
    color: #c7c7c7;
}

section.top div.facilities {
    margin-top: 5%;
}

section.top div.facilities p {
    font-family: 'Times New Roman';
    font-size: 2rem;
    color: #c0a878;
}

section.top div.facilities div div p { /* FIXME: center align under Hotel Facilities */
    font-family: 'Helvetica';
    font-size: 1rem;
    color: #c7c7c7;
}

section.top div.facilities div div i {
    background-color: #8d5ba1;
}

section.bottom {
    text-align: center;
    background-color: white;
    padding-bottom: 5%;
}

section.bottom div.points div div {
    margin-top: 10%;
    border: none;
}

section.bottom div.points div div img {
    width: 3rem;
}

section.bottom div.points div div div {
    margin: 0%;
}

section.bottom div.card-hotel div div h5 {
    color: #c0a878
}

section.bottom div.card-hotel div div div {
    color: #c0a878;
}

section.bottom div.blurb {
    margin-top: 7%;
}

section.bottom div.blurb p:nth-of-type(1) {
    font-size: 2.5rem;
    color: #c0a878;
}

section.bottom div.blurb p:nth-of-type(2) {
    font-size: 1.25rem;
    color: #c7c7c7;
}

section.bottom div.bottom-cards div div {
    border-width: .5rem;
    border-color: black;
}

section.bottom div.news {
    border: .1rem solid black;
}

section.bottom div.blue-black div:nth-of-type(1) {
    color: white;
    background-color: darkblue;
}

section.bottom div.blue-black div:nth-of-type(2) {
    background-color: black;
}

.founders {
    text-align: center;
}

div.products section.image {
    background-color: #363636;
}

div.contact section.bottom div.contact-info {
    background-color: white;
}

div.contact section.bottom div.contact-info div p.column-heading {
    font-size: 3rem;
    color:black;
}

div.contact section.bottom div.contact-info div div div p:nth-of-type(1) {
    font-size: .75rem;
    color: #c0a878;
}

div.contact section.bottom div.contact-info div {
    background-color: white;
}

body.services p.facilities {
    font-family: 'Times New Roman';
    font-size: 2rem;
    color: #c0a878;
}

div.contact section.top {
    margin-bottom: 5%;
}

div.contact div div div div p {
    margin-bottom: 1%;
}

div.contact div div div div a {
    padding-right: .25rem;
    color: #c7c7c7;
}

div.contact div div div div a:nth-of-type(2) {
    color: #c0a878;
}

div.contact div div form button {
    border: none;
    background-color: #8d8d8d;
}

section.images {
    background-color: white;
}

section.images div {
    background-color: white;
}

section.images p {
    font-size: 3rem;
    color: black;
}
section.images button {
    background-color: white;
}

section.images div div img {
    width: 25rem;
    height: 25rem;
}

body.news {
    background-color: white;
    font-family: 'Helvetica';
    font-size: 2rem;
    color: black;
}

div.news p {
    font-size: 3rem;
}

div.news div.card-one {
    font-size: 1rem;
    color: white;
    background-color: #363636;
    background-image: url("images/logo.png");
}

div.news div div div p:nth-of-type(2) {
    font-size: .75rem;
    color: #c7c7c7;
}

div.news div div div p:nth-of-type(3) {
    color: #8d8d8d;
}

div.news div.card-row div div {
    border: none;
}

div.news div.card-row div div div {
    background-color: #8d5ba1; /*TODO: change the background back */
    /*background-color: #f7f7f7;*/
}

div.news div.card-row div div div:nth-of-type(4) {
    background-color:#363636; /*TODO: change the background back */
    /*background-color: #f7f7f7;*/
}

div.news div.card-row div div div p:nth-of-type(1) {
    font-size: .75rem;
    color: #c7c7c7;
}

div.news div.card-row div div div p:nth-of-type(2) {
    color: #8d8d8d;
}

div.news div.card-row div div p:nth-of-type(1) {
    font-size: .75rem;
    color: #ababab;
}

div.news div.row2col1 div {
    background-color: #363636;
}

div.news div.row2col1 div h5 {
    font-family: 'Times New Roman';
    color: white;
}

div.news a.btn-primary {
    background-color: #c0a878;
    border: none;
    border-radius: 0rem;
}

div.news div.view-all p {
    font-size: 1rem;
    color: #8d8d8d;
    padding-top: 1%;
    padding-bottom: 1%;
    border: .05rem solid #8d8d8d;
}

div.tabbed {
    font-size: 1rem;
}

div.tabbed div.popular {
    border-top: solid #c0a878;
}

div.popular p {
    color: #c0a878;
}

div.recent {
    background-color: #363636;
}

div.recent p {
    color: white;
}

div.tabbed {
    border-left: .1rem solid #c7c7c7;
    border-right: .1rem solid #c7c7c7;
}

div.tabbed-text div {
    margin-top: 5%;
    border-bottom: .1rem solid #c7c7c7;
    font-size: .75rem;
} 

div.tabbed-text div:nth-of-type(2) {
    color: #c0a878;
}

div.tabbed-text div:nth-of-type(5) {
    color: #c0a878;
}

div.news-details {
    background-color: white;
}

body.news-details {
    font-family: 'Helvetica';
    font-size: 3rem;
}

div.news-details div.imagebox {
    height: 40%;
    background-image: url ("images/discover.png");
    background-color: #363636;
}
div.news-details div.textbox {
    border: .1rem solid #ababab;
}

div.news-details div.news-text p.header {
    font-size: 2rem;
}

div.news-details div.icons p {
    font-size: .75rem;
    color: #8d8d8d;
}

div.news-details div.icons a.btn-primary {
    background-color: #c0a878;
    border: none;
    border-radius: 0rem;
}

div.news-details div.icons span {
    color: #ababab;
}

div.news-details div.icons span.facebook {
    color: #c0a878;
}

div.news-details div.news-text p.text {
    font-size: 1rem;
}

